<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".SchoolDbApplication"
        android:allowBackup="true"
        android:icon="@drawable/schooldb_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/schooldb_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolDB"
        android:usesCleartextTraffic="@bool/uses_cleartext_traffic">
        <meta-data
            android:name="firebase_messaging_installation_id_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_schooldb" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/schooldb_notification" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".notifications.SchoolDbMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
</manifest>
